/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body{
    margin: 0;
}
:root{
    --primary-color: #FF42A5;
    --primary-background-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --secondary-background-color:  #4EC5F7;
}

.span-1{
    color: var(--primary-color);
}

/* NavBar Section Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 240px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav .title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    list-style: none;
}

.nav-menu li a{
    text-decoration: none;

    color: #3C354F;
    text-align: center;
    font-weight: 500;

}

.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    padding: 17px 24px;
}

/* Banner Section Styles */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: start;

    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
 
    padding: 0 240px;

    
}

.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

    margin: 0;
    padding-top: 130px;
  
}

.banner-focus{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;

    margin: 0;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-img{
    width: 719px;
    height: 680px;
    padding-left: 150px ;
    margin-left: 100px;

    
}

.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-content ul{

    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-icon-text{
    display: flex;
    gap: 10px;

    justify-content: start;
    align-items: center;
}

.banner-icon-text img{
    width: 24px;
    height: 24px;
}

.btn-primary{
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background-color: var(--primary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;

    margin-right: 20px;
}

.btn-secondary{
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background-color: var(--secondary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

/* We Gamer Section Styles */
.we-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 240px;
}

.we-img{
    width: 60%;
}

.we-img img{
    width: 100%;
    height: auto;
}

.we-content{
    width: 40%;
    padding: 20px 30px;
}

.we-focus{
    text-align: right;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;

    margin: 0;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-description{
    color: #534C64;
    text-align: right;
}

.we-content > .btn{
    display: flex;
    justify-content: end;
    align-items: end;
}
.we-content .btn-prim{
    padding: 15px 30px;
    border: 0;
    border-radius: 48px;
    background-color: var(--primary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


.our-purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.slogan{
    color: #534C64;
    font-size: 24px;
    font-weight: 700;

    text-align: right;
}