/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body{
    margin: 0;
}
:root{
    --primary-color: #FF42A5;
    --primary-background-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --secondary-background-color:  #4EC5F7;
}

.span-1{
    color: var(--primary-color);
}

/* NavBar Section Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 240px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav .title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    list-style: none;
}

.nav-menu li a{
    text-decoration: none;

    color: #3C354F;
    text-align: center;
    font-weight: 500;

}

.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    padding: 17px 24px;
}

/* Banner Section Styles */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: start;

    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
 
    padding: 0 240px;

    
}

.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

    margin: 0;
    padding-top: 130px;
  
}

.banner-focus{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;

    margin: 0;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-img{
    width: 719px;
    height: 680px;
    padding-left: 150px ;
    margin-left: 100px;

    
}

.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-content ul{

    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-icon-text{
    display: flex;
    gap: 10px;

    justify-content: start;
    align-items: center;
}

.banner-icon-text img{
    width: 24px;
    height: 24px;
}

.btn-primary{
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background-color: var(--primary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;

    margin-right: 20px;
}

.btn-secondary{
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background-color: var(--secondary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

/* We Gamer Section Styles */
.we-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 240px;
}

.we-img{
    width: 60%;
}

.we-img img{
    width: 100%;
    height: auto;
}

.we-content{
    width: 40%;
    padding: 20px 30px;
}

.we-focus{
    text-align: right;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;

    margin: 0;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-description{
    color: #534C64;
    text-align: right;
}

.we-content > .btn{
    display: flex;
    justify-content: end;
    align-items: end;
}
.we-content .btn-prim{
    padding: 15px 30px;
    border: 0;
    border-radius: 48px;
    background-color: var(--primary-background-color);

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


.our-purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.slogan{
    color: #534C64;
    font-size: 24px;
    font-weight: 700;

    text-align: right;
}

/* Online Games Funny Videos Section */

.online-section-container{
    padding: 50px 240px;
}

.online-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

    margin: 0 auto;
}

.online-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    border-radius: 1px solid lightpink;
}
.card img{
    width: 100%;

    border-radius: 16px;
}

/* Play Section Styles */
.play-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 240px;
    
}

.play-content{
    padding-right: 200px;
}
.play-title span{
    text-align: right;
    font-size: 48px;
    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-title{
    text-align: right;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 0 auto;
}

.play-description{
    color: #534C64;
    text-align: right;
}

.img-card{
    position: relative;
    left: 650px;
    bottom: 300px;

    border-radius: 8px;
}

/* Games Card Section Styles */
.g-cards-container{
    padding: 50px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.g-cards{
    display: flex;
    gap: 30px;

    padding-bottom: 30px;
}
.g-card{
    background-color: #FFF;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px;
    margin: 0 auto; 

    color: #0B0223;
    font-weight: 600;
}

.game-name{
    padding-left: 10px;
    
}

.g-card:hover{
    border: 2px solid var(--primary-color);
    color: #F948B2;
    font-weight: 600;
}

footer{
    background: #0B0223;
    padding: 50px 240px;
    
}
.prime-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prime-section img{
    padding: 5px 20px;
}


.prime-section h3{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.links, .links2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links ul, .links2 ul{
    list-style: none;
}

.links li a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.icons-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

.links2 li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

    padding-top: 25px;
    padding-bottom: 175px;
}
